@charset "gb2312";
/*css document*/
*{ padding:0; margin:0;}
body{ font:14px/20px "ו";  text-align:left; background:#fff; color:#424A5E;}
h1,h2,h3,h4,h5,h6{ font-size:14px; padding-left:16px;}
ul,li{ list-style:none;}
a{ color:#ff722d; font-weight:bold; text-decoration:underline;}
a:hover{ color:#ff722d; text-decoration:none;}
img{ border:0;}
a img,a:hover img{ border:0;}
button{ cursor:pointer;}
em{ color:blue; text-decoration:underline; font-style:normal; font-weight:bold;}
input{ font-size:12px;}

/*other*/
.clearit{ clear:both;}

/*about top and bottom*/
#top{ height:50px;}
#bottom{ height:50px; margin-top:30px;}

/*global*/
#container{ width:96%; margin:0 auto;}
#fr_header{  margin:0 auto; line-height:60px; color:#fff; border-bottom:5px solid #000; font-weight:bold; text-shadow:1px 1px 2px #ccc; padding-right:10px;  font-size:20px;}
#fr_header a{  text-decoration:none; color:#3366FF;}
#fr_footer{  margin:0 auto; line-height:40px; color:#fff; background:#3366FF; font-weight:bold; text-shadow:1px 1px 2px #000; text-align:center; font-size:16px;}

h1{ font-size:26px; line-height:35px; background:#333; color:#fff; }
h2{ font-size:14px; line-height:28px; background:#555; color:#fff; }
h3{ font-size:13px; line-height:26px; background:#888; color:#fff; margin-top:14px; padding-left:32px}
h4{ font-size:12px; line-height:26px; background:#d5d5d5; color:#333; margin-top:14px; padding-left:32px;}
.content{ padding:15px 20px; background:#eee;}
.code{ border:1px dashed #888; margin-top:12px; padding:15px 32px; background:#eee;}